ol{
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 10px;
    background-color: chocolate;
    color:aliceblue
}

.link{
    text-decoration:none;
    color:aliceblue;
    padding: 3px;
}

.link:hover{
    background-color: aliceblue;
    color:chocolate;
    border-radius: 6px;
    padding: 2px;

}